.total-summary {
  margin-top: 2rem;
  background-color: var(--overlay-background);
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--designer-divider-color);
  border-radius: 0.4rem;

  .content {
    max-width: 1200px;
    margin: auto;
  }
}

.text-danger {
  color: var(--danger-color);
}

.text-alert {
  color: var(--warning-color);
}

.text-success {
  color: var(--success-color);
}
