<div class="total-summary">
  <div class="content">
    <p>
      <strong> Quantidade de itens: </strong>
      <span> {{ totalItems | number }} </span>
      <br />
      <strong> Valor total: </strong>
      <span> {{ totalValue | currency : "BRL" }} </span>
      @if (true) {
      <br />
      <span
        [ngClass]="{
          'text-danger': paymentValue < totalValue,
          'text-alert': paymentValue > totalValue,
          'text-success': paymentValue === totalValue
        }"
      >
        <strong> Total informado: </strong>
        <span> {{ paymentValue | currency : "BRL" }} </span>
      </span>
      }
    </p>
    <button
      type="submit"
      pButton
      fluid
      class="mt-4"
      [disabled]="nextDisabled"
      (click)="next.emit()"
    >
      {{ textButton }}
    </button>
  </div>
</div>
