@use '../../styles/auth-page' as authPage;

@include authPage.auth-page-layout;

.link-text {
  text-align: center;
  margin-bottom: 0;

  a {
    color: #6242c7;
    font-weight: 600;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
