@use '../../styles/auth-page' as authPage;

@include authPage.auth-page-layout;

:host ::ng-deep app-card .card {
  padding: 2.3rem
}

.link-text {
  text-align: center;
  margin-bottom: 0;

  a {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    color: #6242c7;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
