<div class="my-3">
  @if (showToolbar) {
  <p-toolbar [style]="{ 'flex-wrap': 'nowrap' }">
    <ng-template #start>
      <div class="flex gap-2">
        <button
          [routerLink]="addRoute"
          pButton
          icon="pi pi-plus"
          type="button"
          (click)="onAddClick.emit()"
        ></button>
        @if (showEdit) {
        <button
          pButton
          icon="pi pi-pencil"
          severity="secondary"
          type="button"
        ></button>
        } @if (showDelete) {
        <button
          pButton
          icon="pi pi-trash"
          severity="secondary"
          type="button"
        ></button>
        }
      </div>
    </ng-template>

    <ng-template #end>
      <div>
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            type="text"
            pInputText
            placeholder="Pesquisar..."
            (input)="tableService.onSearch($event, primeTable)"
          />
        </p-iconfield>
      </div>
    </ng-template>
  </p-toolbar>
  }
</div>

<div class="my-3">
  <p-table
    #primeTable
    [value]="value"
    [columns]="columns"
    [stateKey]="stateKey"
    stateStorage="session"
    [globalFilterFields]="filterFields"
  >
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col.header) {
        <th>
          {{ col.header }}
        </th>
        } @if(!!actionsTemplate) {
        <th>Ações</th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col.header) {
        <td>
          {{ rowData[col.field] }}
        </td>
        } @if (actionsTemplate) {
        <td>
          <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
        </td>
        }
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td [attr.colspan]="columns.length + (actionsTemplate ? 1 : 0)">
          Nenhum item encontrado.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
