:host {
  display: block;
}

.table-badge--success {
  background-color: #28a745;
  border: none;
}

.table-badge--info {
  background-color: #007bff;
  border: none;
}

.table-badge--danger {
  background-color: #dc3545;
  border: none;
}
