<p-dialog [(visible)]="isOpen" header="Variações" [modal]="true">
  <form class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="sm:grid-cols-2">
      <label for="sku-code"> Código </label>
      <input pInputText ngModel name="code" id="sku-code" />
    </div>
    <div class="sm:grid-cols-1">
      <label for="sku-color"> Cor </label>
      <input pInputText ngModel name="color" id="sku-color" />
    </div>
    <div class="sm:grid-cols-1">
      <label for="sku-size"> Tamanho </label>
      <input pInputText ngModel name="size" id="sku-size" />
    </div>
    <div class="sm:grid-cols-1">
      <label for="sku-cost"> Custo </label>
      <p-inputnumber
        ngModel
        name="cost"
        inputId="sku-color"
        mode="currency"
        currency="BRL"
      />
    </div>
    <div class="sm:grid-cols-1">
      <label for="sku-price"> Preço de Venda </label>
      <p-inputnumber
        ngModel
        name="price"
        inputId="sku-price"
        mode="currency"
        currency="BRL"
      />
    </div>

    <button pButton type="submit">Salvar</button>
  </form>
</p-dialog>
