<p-dialog
  [(visible)]="isOpen"
  header="Variações"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
>
  <form
    #f="ngForm"
    class="grid grid-cols-1 sm:grid-cols-2 gap-4"
    (submit)="handleSubmit(f)"
  >
    <div class="sm:col-span-2">
      <label for="sku-code"> Código </label>
      <input pInputText ngModel name="code" id="sku-code" required />
    </div>
    <div class="sm:col-span-1">
      <label for="sku-color"> Cor </label>
      <input pInputText ngModel name="color" id="sku-color" />
    </div>
    <div class="sm:col-span-1">
      <label for="sku-size"> Tamanho </label>
      <input pInputText ngModel name="size" id="sku-size" />
    </div>
    @if(service.canAddQuantity()) {
    <div class="sm:col-span-1">
      <label for="sku-quantity"> Quantidade </label>
      <p-inputNumber
        ngModel
        name="quantity"
        inputId="sku-quantity"
        mode="decimal"
        decimalDigits="0"
        min="0"
      />
    </div>
    <div class="sm:col-span-1">
      <label for="sku-destionation"> Destino </label>
      <p-dropdown
        [options]="(destinationOptions | async)!"
        ngModel
        optionLabel="type"
        optionValue="id"
        name="destination_id"
        id="sku-destionation"
        appendTo="body"
        [filter]="true"
      />
    </div>
    }
    <div class="sm:col-span-1">
      <label for="sku-cost"> Custo </label>
      <p-inputnumber
        ngModel
        name="cost"
        inputId="sku-color"
        mode="currency"
        currency="BRL"
      />
    </div>
    <div class="sm:col-span-1">
      <label for="sku-price"> Preço de Venda </label>
      <p-inputnumber
        ngModel
        name="price"
        inputId="sku-price"
        mode="currency"
        currency="BRL"
      />
    </div>

    <div class="sm:col-span-2">
      <button pButton type="submit" fluid="">Salvar</button>
    </div>
  </form>
</p-dialog>
