<div class="auth-page">
  <div class="card-wrapper">
    <app-card header="Cadastro de Empresa">
      <p-steps
        [model]="service.steps"
        [(activeIndex)]="service.activeIndex"
      ></p-steps>

      <form #f="ngForm" class="mt-4" (ngSubmit)="handleSubmit(f)">
        <div *ngIf="service.activeIndex === 0">
          <div ngModelGroup="companyData">
            <h2 class="text-xl font-semibold mb-4">
              {{
                service.isPessoaFisica ? "Dados Pessoais" : "Dados da Empresa"
              }}
            </h2>
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
              <div>
                <label for="name" [requiredUpdateText]="service.isPessoaFisica ? 'Nome Completo' : 'Nome da Empresa'">
                  Nome da Empresa
                </label>
                <input
                  id="name"
                  name="name"
                  type="text"
                  pInputText
                  ngModel
                  required
                />
              </div>
              <div *ngIf="!service.isPessoaFisica">
                <label for="legalName">Razão Social</label>
                <input
                  id="legalName"
                  name="legalName"
                  type="text"
                  pInputText
                  ngModel
                  [required]="!service.isPessoaFisica"
                />
              </div>
              <div class="flex items-center mb-4 col-span-2">
                <p-checkbox
                  [(ngModel)]="service.isPessoaFisica"
                  name="pessoaFisica"
                  [binary]="true"
                  (onChange)="service.updateSteps()"
                ></p-checkbox>
                <label class="ml-2">Não possuo empresa</label>
              </div>
              <div *ngIf="!service.isPessoaFisica">
                <label for="cnpj">CNPJ</label>
                <p-inputMask
                  mask="99.999.999/9999-99"
                  id="cnpj"
                  name="cnpj"
                  ngModel
                  [required]="!service.isPessoaFisica"
                ></p-inputMask>
              </div>
              <div *ngIf="service.isPessoaFisica">
                <label for="cpf">CPF</label>
                <p-inputMask
                  mask="999.999.999-99"
                  id="cpf"
                  name="cpf"
                  ngModel
                  [required]="service.isPessoaFisica"
                ></p-inputMask>
              </div>
              <div>
                <label for="cellphone">Celular</label>
                <p-inputMask
                  mask="(99) 99999-9999"
                  id="cellphone"
                  name="cellphone"
                  ngModel
                  required
                ></p-inputMask>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="service.activeIndex === 1">
          <div ngModelGroup="address">
            <h2 class="text-xl font-semibold mb-4">
              {{ service.isPessoaFisica ? "Endereço" : "Endereço da Empresa" }}
            </h2>
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
              <div>
                <label for="cep">CEP</label>
                <p-inputMask
                  mask="99999-999"
                  id="cep"
                  name="cep"
                  ngModel
                  required
                ></p-inputMask>
              </div>
              <div>
                <label for="street">Rua</label>
                <input
                  id="street"
                  name="street"
                  type="text"
                  pInputText
                  ngModel
                  required
                />
              </div>
              <div>
                <label for="number">Número</label>
                <input
                  id="number"
                  name="number"
                  type="text"
                  pInputText
                  ngModel
                  required
                />
              </div>
              <div>
                <label for="neighborhood">Bairro</label>
                <input
                  id="neighborhood"
                  name="neighborhood"
                  type="text"
                  pInputText
                  ngModel
                  required
                />
              </div>
              <div>
                <label for="city">Cidade</label>
                <input
                  id="city"
                  name="city"
                  type="text"
                  pInputText
                  ngModel
                  required
                />
              </div>
              <div>
                <label for="uf">UF</label>
                <input
                  id="uf"
                  name="uf"
                  type="text"
                  pInputText
                  ngModel
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="service.activeIndex === 2">
          <div ngModelGroup="userData">
            <h2 class="text-xl font-semibold mb-4">Usuário Administrador</h2>
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
              <div>
                <label for="user_name">Nome do Usuário</label>
                <input
                  id="user_name"
                  name="user_name"
                  type="text"
                  pInputText
                  ngModel
                  required
                />
              </div>
              <div>
                <label for="username">Username</label>
                <input
                  id="username"
                  name="username"
                  type="text"
                  pInputText
                  ngModel
                  required
                />
              </div>
              <div>
                <label for="email">Email</label>
                <input
                  id="email"
                  name="email"
                  type="email"
                  pInputText
                  ngModel
                  required
                  email
                />
              </div>
              <div>
                <label for="user_phone_number">Telefone</label>
                <p-inputMask
                  mask="(99) 99999-9999"
                  id="user_phone_number"
                  name="user_phone_number"
                  ngModel
                ></p-inputMask>
              </div>
              <div>
                <label for="password">Senha</label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  pInputText
                  ngModel
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <div class="flex justify-between mt-4">
          <button
            pButton
            type="button"
            label="Voltar"
            severity="secondary"
            (click)="service.prevStep()"
            [disabled]="service.activeIndex === 0"
          ></button>
          <button
            pButton
            *ngIf="service.activeIndex < 2"
            type="button"
            label="Próximo"
            (click)="service.nextStep()"
            [disabled]="!service.isCurrentStepValid(f)"
          ></button>
          <button
            pButton
            *ngIf="service.activeIndex === 2"
            type="submit"
            label="Salvar"
            [disabled]="!f.valid || isLoading"
          ></button>
        </div>
      </form>
    </app-card>
  </div>
</div>
