<h1>Vendas</h1>

<app-sales-filter />
<app-sales-summary [summary]="response?.summary" />
<app-sales-details #details (changePaymentSuccess)="getItems(params)" />

<app-table
  [value]="response?.sales || []"
  addRoute="/vendas/novo"
  [columns]="columns"
  [showEdit]="false"
  [showDelete]="false"
  (onRowClick)="details.open($event)"
>
  <ng-template #actions>
    <div class="flex gap-4 align-items">
      <button
        type="button"
        pButton
        severity="secondary"
        icon="pi pi-eye"
        size="small"
      >
        Detalhes
      </button>
    </div>
  </ng-template>
</app-table>
