<h1>Vendas</h1>

<app-table
  [value]="[
    {
      date: '03/07/2025',
      saler: 'João',
      quantity: '3 itens',
      total_value: 'R$ 100,00',
      installment_plan: '3x'
    }
  ]"
  addRoute="/vendas/novo"
  [columns]="columns"
  [showEdit]="false"
  [showDelete]="false"
>
  <ng-template #actions>
    <div class="flex gap-4 align-items">
      <button
        type="button"
        pButton
        severity="secondary"
        icon="pi pi-eye"
        size="small"
      >
        Detalhes
      </button>
    </div>
  </ng-template>
</app-table>
