:host {
  display: block;
}

.card {
  background-color: var(--overlay-background);
  border: var(--card-border);
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}
