<p-drawer
  header="Detalhes da Venda"
  [(visible)]="service.visible"
  position="right"
  styleClass="!w-full md:!w-80 lg:!w-[30rem]"
>
  <h3>Resumo</h3>
  <div class="mb-5">
    <app-payment-badge [paymentType]="'PENDING'" />
  </div>
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
    <div class="col-span-2">
      <label> Código </label>
      <p>V-01HY8M2Z2Q8C2X8D7B8G2KZ8NQ</p>
    </div>
    <div>
      <label> Data </label>
      <p>12/12/2025 15:00</p>
    </div>
    <div>
      <label> Valor da venda </label>
      <p>R$ 200,00</p>
    </div>
    <div>
      <label> Vendedor </label>
      <p>João Silva</p>
    </div>
    <div>
      <label> Cliente </label>
      <p>João Silva</p>
    </div>
    <div>
      <label> Valor recebido </label>
      <p>R$ 200,00</p>
    </div>
    <div>
      <label> Valor a receber </label>
      <p>R$ 100,00</p>
    </div>
    <div class="col-span-2">
      <label> Pagamento </label>
      <p>
        1x de R$ 50,00 no PIX <br />
        3x de R$ 100,00 no Cartão de Crédito <br />
      </p>
    </div>
  </div>
  <h3 class="my-5">Pagamento</h3>
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2"></div>
  <p-timeline [value]="[1, 2]" class="!w-full">
    <ng-template #opposite let-event>
      <small>
        1ª Parcela <br />
        12/12/2025 15:00 <br />
        <app-payment-badge [paymentType]="'PAID'" />
      </small>
    </ng-template>
    <ng-template #content let-event>
      <p class="mb-4">
        Cartão <br />
        R$ 100,00 <br />
        Pago em: 12/12/2025 15:00 <br />
        <button
          pButton
          type="button"
          label="Alterar Situação"
          size="small"
          severity="secondary"
        ></button>
      </p>
    </ng-template>
  </p-timeline>
  <h3 class="my-5">Itens</h3>
  <app-table
    [columns]="itensColumns"
    [value]="[1, 2, 3, 4, 5]"
    [showToolbar]="false"
  />
</p-drawer>
