<p-dialog
  [(visible)]="isOpen"
  [modal]="true"
  [dismissableMask]="true"
  header="Movimentar Estoque"
  [style]="{ width: '900px', maxWidth: '90%' }"
  [draggable]="false"
>
  @if (isOpen) {
  <form
    class="grid grid-cols-1 sm:grid-cols-2 gap-4"
    [formGroup]="form"
    (submit)="handleSubmit(form)"
  >
    <input type="hidden" formControlName="type" />
    <input type="hidden" formControlName="inventory_origin_id" />
    <input type="hidden" formControlName="sku_id" />

    <div class="col-span-2 grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <label>Tipo</label>
        <p
          class="inventory-info"
          [style.color]="getInventoryTypeColor(transactionType)"
        >
          {{ getInventoryTypeLabel(transactionType) }}
        </p>
      </div>
      <div>
        <label>Estoque</label>
        <p class="inventory-info">
          {{ selectedProduct?.user_name + ' - ' + (selectedProduct?.inventory_type ?? '-') }}
        </p>
      </div>
      <div>
        <label>Produto</label>
        <p class="inventory-info">
          {{ selectedProduct?.product_name ?? '-' }}
        </p>
      </div>
      <div>
        <label>Código</label>
        <p class="inventory-info">
          {{ selectedProduct?.sku_code ?? '-' }}
        </p>
      </div>
    </div>

    @if (transactionType !== 'TRANSFER') {
    <div class="col-span-2 grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <label>Estoque atual</label>
        <p class="inventory-info">
          {{ (selectedProduct?.quantity ?? 0) | number: '1.0-0' }}
        </p>
      </div>
      <div>
        <label>Quantidade após movimentação</label>
        <p class="inventory-info">
          @if (currentInventoryProjectedQuantity !== null) {
          {{ currentInventoryProjectedQuantity | number: '1.0-0' }}
          } @else { - }
        </p>
      </div>
    </div>
    } @else {
    <div class="col-span-2 grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <label>Estoque origem</label>
        <p class="inventory-info">
          {{ selectedProduct?.inventory_type ?? '-' }}
        </p>
      </div>
      <div>
        <label>Estoque destino</label>
        <p class="inventory-info">
          {{ getDestinationInventoryName() ?? '-' }}
        </p>
      </div>
      <div>
        <label>Estoque de origem</label>
        <p class="inventory-info">
          {{ (selectedProduct?.quantity ?? 0) | number: '1.0-0' }} -> {{ currentInventoryProjectedQuantity | number: '1.0-0' }}
        </p>
      </div>
      <div>
        <label>Estoque de destino</label>
        <p class="inventory-info">
          {{ destinationCurrentQuantity | number: '1.0-0' }} -> {{ destinationProjectedQuantity | number: '1.0-0' }}
        </p>
      </div>
    </div>
    }

    @if (transactionType === 'TRANSFER') {
    <div class="col-span-2">
      <label for="destination">Destino</label>
      <p-select
        appendTo="body"
        [options]="(destinationInventories$ | async) ?? []"
        formControlName="inventory_destination_id"
        inputId="destination"
        optionLabel="type"
        optionValue="id"
        [filter]="true"
        placeholder="Selecione o destino"
      />
    </div>
    }

    <div class="col-span-2 sm:col-span-2">
      <label for="quantity">Quantidade</label>
      <p-inputNumber
        inputId="quantity"
        formControlName="quantity"
        min="1"
        [useGrouping]="false"
        required
      />
    </div>

    <div class="col-span-2">
      <label for="reason">Motivo</label>
      <textarea
        pTextarea
        formControlName="justification"
        inputId="reason"
        maxlength="200"
      ></textarea>
    </div>

    <div class="col-span-2">
      <button
        type="submit"
        pButton
        fluid
        [disabled]="isLoading || form.invalid"
      >
        Confirmar
      </button>
    </div>
  </form>
  }
</p-dialog>
