<p-dialog
  [(visible)]="isOpen"
  [modal]="true"
  [dismissableMask]="true"
  header="Movimentar Estoque"
  [style]="{ width: '700px' }"
  [draggable]="false"
>
  @if (isOpen) {
  <form
    #f="ngForm"
    class="grid grid-cols-1 sm:grid-cols-2 gap-4"
    (submit)="handleSubmit(f)"
  >
    <div class="sm:col-span-2">
      <label> Tipo </label>
      <input type="hidden" name="type" required />
      <div class="flex flex-wrap gap-4 mt-3">
        <div class="flex items-center">
          <p-radiobutton
            name="type"
            value="IN"
            ngModel
            inputId="strock_in"
            required
            (onClick)="service.onTypeChange($event, f)"
          />
          <label for="strock_in" class="ml-2 mb-0">Entrada</label>
        </div>

        <div class="flex items-center">
          <p-radiobutton
            name="type"
            value="OUT"
            ngModel
            inputId="stock_out"
            required
            (onClick)="service.onTypeChange($event, f)"
          />
          <label for="stock_out" class="ml-2 mb-0"> Saída </label>
        </div>

        <div class="flex items-center">
          <p-radiobutton
            name="type"
            value="TRANSFER"
            ngModel
            inputId="transfer"
            required
            (onClick)="service.onTypeChange($event, f)"
          />
          <label for="transfer" class="ml-2 mb-0"> Transferência </label>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <label for="origin"> Origem </label>
      <p-select
        appendTo="body"
        [options]="(inventories | async)!"
        ngModel
        name="inventory_origin_id"
        inputId="origin"
        required
        optionLabel="type"
        optionValue="id"
        [filter]="true"
        [disabled]="!service.isOriginEnabled"
        (onChange)="service.onOriginChange($event)"
      />
    </div>
    <div class="col-span-1">
      <label for="destination"> Destino </label>
      <p-select
        appendTo="body"
        [options]="(inventories | async)!"
        ngModel
        name="inventory_destination_id"
        inputId="destination"
        required
        optionLabel="type"
        optionValue="id"
        [filter]="true"
        [disabled]="!service.isDestinationEnabled"
      />
    </div>
    <div class="sm:col-span-2">
      <label for="product"> Produto </label>
      <p-select
        [options]="(allProducts | async)!"
        [filter]="true"
        ngModel
        name="sku_id"
        inputId="product"
        appendTo="body"
        optionLabel="product_name"
        optionValue="sku_id"
        required
      >
        <ng-template let-product #item>
          <div>
            <div>{{ product.product_name }}</div>
            <small> Código: {{ product.sku_code }} </small> <br />
            <small> Estoque: {{ product.inventory_type }} </small> <br />
            <small> Usuário: {{ product.user_name }} </small> <br />
            <small> Quantidade: {{ product.quantity }} </small>
          </div>
        </ng-template>
      </p-select>
    </div>
    <div class="sm:col-span-2">
      <label for="sku-quantity"> Quantidade </label>
      <p-inputNumber
        ngModel
        name="quantity"
        inputId="sku-quantity"
        required
        min="0"
      />
    </div>
    <div class="sm:col-span-2">
      <label for="reason"> Motivo </label>
      <textarea
        ngModel
        pTextarea
        name="justification"
        maxlength="200"
        inputId="reason"
      ></textarea>
    </div>

    <div class="sm:col-span-2">
      <button type="submit" pButton fluid>Adicionar</button>
    </div>
  </form>
  }
</p-dialog>
