.template {
  min-height: 100vh;
  padding-bottom: 32px;
}

.content {
  max-width: 100%;
  margin: auto;
}

@media (min-width: 992px) {
  .template.sidebar-expanded {
    padding-left: 200px;
  }

  .template.sidebar-collapsed {
    padding-left: 80px;
  }

  .template .p-4 {
    padding: 2rem;
  }

  .content {
    margin: 0 auto;
  }
}
