<p-dialog
  [(visible)]="isOpen"
  header="Usuários"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
>
  <form
    #f="ngForm"
    class="grid grid-cols-1 sm:grid-cols-2 gap-4"
    (submit)="handleSubmit(f)"
  >
    <div class="sm:col-span-2">
      <label for="name"> Nome </label>
      <input
        pInputText
        ngModel
        name="name"
        id="name"
        required="true"
        maxlength="200"
      />
    </div>
    <div class="sm:col-span-1">
      <label for="username"> Usuário </label>
      <input
        pInputText
        ngModel
        name="username"
        id="username"
        required="true"
        maxlength="50"
      />
    </div>
    <div class="sm:col-span-1">
      <label for="email"> E-mail </label>
      <input
        pInputText
        ngModel
        name="email"
        id="email"
        type="email"
        required="true"
        email
        maxlength="200"
      />
    </div>
    <div class="sm:col-span-1">
      <label for="role"> Função </label>
      <p-select
        [options]="service.getRoles()"
        ngModel
        name="role"
        inputId="role"
        required
        appendTo="body"
      />
    </div>
    <div class="sm:col-span-1">
      <label for="phone_number"> Telefone </label>
      <p-inputmask
        mask="(99) 99999-9999"
        ngModel
        name="phone_number"
        inputId="phone_number"
        placeholder="(99) 99999-9999"
      />
    </div>
    <div class="sm:col-span-2">
      <button pButton type="submit" fluid="" [disabled]="isLoading">
        Salvar
      </button>
    </div>
  </form>
</p-dialog>
