<h1>Produtos</h1>

<app-table
  addRoute="/produtos/form"
  dataKey="id"
  [columns]="columns"
  [value]="(products | async)!"
  (onEditClick)="service.toEditPage($event)"
  (onDeleteClick)="service.delete($event)"
>
  <ng-template #actions let-product>
    <button
      (click)="openDrawer(product)"
      pButton
      type="button"
      severity="secondary"
      icon="pi pi-eye"
      size="small"
    >
      Variações
    </button>
  </ng-template>
</app-table>

<p-drawer
  [(visible)]="drawerVisible"
  header="Variações"
  position="right"
  [modal]="true"
  [dismissible]="true"
  styleClass="!w-full md:!w-80 lg:!w-[40rem]"
  (onHide)="onDrawerHide()"
>
  @if (selectedProduct; as product) {
  <div class="drawer-content">
    <h3 class="drawer-product-name">{{ product.name }}</h3>
    @if (isLoadingSkus) {
    <div class="drawer-loading">
      <p-skeleton width="60%" height="1.5rem" />
      <p-skeleton width="100%" height="3rem" />
      <p-skeleton width="80%" height="3rem" />
    </div>
    } @else {
    <app-sku-list [skus]="service.getSkus(product.id)" [showOnlyTable]="true" />
    }
  </div>
  }
</p-drawer>
