<h1>Clientes</h1>

<app-table
  addRoute="/clientes/form"
  dataKey="id"
  [columns]="columns"
  [value]="(customers | async)!"
  (onEditClick)="service.toEditPage($event)"
  (onDeleteClick)="service.delete($event)"
>
  <ng-template #actions let-customer>
    <a
      pButton
      size="small"
      severity="secondary"
      icon="pi pi-dollar"
      label="Vendas"
      [routerLink]="['/vendas']"
      [queryParams]="{ customer_id: customer.id }"
      target="_blank"
      rel="noopener"
    ></a>
  </ng-template>
</app-table>
