.header {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--overlay-background);
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 2.5rem;
}

.name {
  display: inline-block;
}

@media (min-width: 992px) {
  .menu-button {
    display: none;
  }
}
