<div class="sidebar-container" [ngClass]="{ open: isOpen }">
  <button
    pButton
    severity="secondary"
    icon="pi pi-times"
    (click)="onClose.emit()"
  ></button>
  <ul>
    @for (item of itemsList; track $index) {
    <li class="menu-item">
      <a [routerLink]="item.routerLink" (click)="onClose.emit()">
        <i [class]="item.icon"></i>
        {{ item.name }}
      </a>
    </li>
    }
    <li class="menu-item">
      <a routerLink="/login" (click)="onClose.emit()">
        <i class="pi pi-sign-out"></i>
        Sair
      </a>
    </li>
  </ul>
</div>
