.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100vw;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: var(--overlay-background);
  transition: left 0.4s ease;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &.open {
    left: 0;
  }
}

.close-button {
  align-self: flex-end;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--p-text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;

  &:hover,
  &.active {
    color: var(--primary-color);
  }

  i {
    font-size: 1.25rem;
  }
}

.menu-label {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .sidebar-container {
    left: 0;
    width: 80px;
    padding: 1.5rem 0.75rem;
    background-color: var(--overlay-background);
    border-right: 1px solid var(--border-color);
    transition: none;
    align-items: center;
    gap: 0;
  }

  .close-button {
    display: none;
  }

  .menu {
    width: 100%;
    align-items: center;
    gap: 1.5rem;
  }

  .menu-item {
    position: relative;
    justify-content: center;
    width: 100%;
    color: var(--text-color);
    padding: 0.25rem;

    &:hover,
    &.active {
      color: var(--primary-color);
    }
  }

  .menu-label {
    display: none;
  }
}
