<div class="sidebar-container" [ngClass]="{ open: isOpen }">
  <button
    class="close-button"
    pButton
    severity="secondary"
    icon="pi pi-times"
    (click)="onClose.emit()"
  ></button>
  <nav class="menu">
    @for (item of itemsList; track $index) {
    <a
      class="menu-item"
      [routerLink]="item.routerLink"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.routerLink === '/'  }"
      (click)="onClose.emit()"
      [attr.aria-label]="item.name"
      pTooltip="{{ item.name }}"
      tooltipPosition="right"
      tooltipAppendTo="body"
    >
      <i [class]="item.icon"></i>
      <span class="menu-label">{{ item.name }}</span>
    </a>
    }
    <a
      class="menu-item"
      routerLink="/login"
      (click)="onClose.emit()"
      aria-label="Sair"
      pTooltip="Sair"
      tooltipPosition="right"
      tooltipAppendTo="body"
    >
      <i class="pi pi-sign-out"></i>
      <span class="menu-label">Sair</span>
    </a>
  </nav>
</div>
