<h1>Nova Venda</h1>

<form [formGroup]="form" class="grid gap-4 grid-cols-1 sm:grid-cols-2 my-4">
  <div class="sm:col-span-2">
    <label form="customer"> Cliente </label>
    <p-select
      [options]="(customers | async)!"
      formControlName="customer"
      inputId="customer"
      optionValue="id"
      optionLabel="name"
      [filter]="true"
    >
      <ng-template let-customer #item>
        <div>
          <div>{{ customer.name }}</div>
          <small>
            Telefone: {{ customer.phone_number | mask : "(##) #####-####" }}
          </small>
        </div>
      </ng-template>
    </p-select>
  </div>
</form>

<h2>Produtos</h2>
<app-items-list [items]="(skus | async)!" />

<div class="total-summary">
  <div class="content">
    <p>
      <strong> Quantidade de itens: </strong>
      <span>3</span>
      <br />
      <strong> Valor total: </strong>
      <span>R$30,00</span>
    </p>
    <button type="submit" pButton fluid class="mt-4">Ir para pagamento</button>
  </div>
</div>
