<h1>Usuários</h1>

<app-users-form-dialog #formDialog (onSubmitSuccess)="service.reload()" />

<app-table
  [value]="(users | async)!"
  [columns]="columns"
  stateKey="users-list"
  (onAddClick)="formDialog.open()"
  (onEditClick)="formDialog.open($event)"
  (onDeleteClick)="service.delete($event)"
>
  <ng-template #actions let-user>
    <a
      pButton
      size="small"
      severity="secondary"
      icon="pi pi-dollar"
      label="Vendas"
      [routerLink]="['/vendas']"
      [queryParams]="{ user_id: user.id }"
      target="_blank"
      rel="noopener"
    ></a>
  </ng-template>
</app-table>
