<h1>Usuários</h1>

<app-users-form-dialog #formDialog (onSubmitSuccess)="service.reload()" />

<app-table
  [value]="(users | async)!"
  [columns]="columns"
  stateKey="users-list"
  (onAddClick)="formDialog.open()"
  (onEditClick)="formDialog.open($event)"
  (onDeleteClick)="service.delete($event)"
>
  <!-- <ng-template #actions>
    <div class="flex gap-4 align-center">
      <button
        type="button"
        pButton
        size="small"
        severity="secondary"
        icon="pi pi-box"
      >
        Produtos
      </button>
      <button
        type="button"
        pButton
        size="small"
        severity="secondary"
        icon="pi pi-dollar"
      >
        Vendas
      </button>
    </div>
  </ng-template> -->
</app-table>
